@font-face{
 font-family:'digital-clock-font';
 src: url(digital-7\ \(italic\).ttf);
}

body {
    background-color: white;
        display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}


.keys {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border: solid 10px;
    row-gap: 0px;
}

input[type="button"] {
    height: 70px;
    font-family: 'digital-clock-font';
    font-style: italic bold;
    font-size: 30px;
    margin: 0px;

}

.display {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 0px auto -40px;
    width: 80%;
}

.display input[type="text"] {
    text-align: right;
    height: 30px;
    border-radius: 0px;
    background-color: silver;
    border: none;
    font-size: 25px;
    font-family: 'digital-clock-font';
    min-width: 0;
}

.top {
    margin-top: 25px;
}

.keys {
    margin-top: 40px;
}

.operator, .equal {
    background-color: rgb(255, 0, 0)
}

.number {
    background-color: grey
}

.ac {
    background-color: rgb(166, 157, 209);
}




@media only screen and (min-width: 1001px) {
    .canvas {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 8;
        background-color: black;
    }

}



@media only screen and (max-width: 1000px) {
    .canvas {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 11;
        background-color: black;
    }

}