@font-face{
 font-family:'digital-clock-font';
 src: url(digital-7\ \(italic\).ttf);
}

body {
    height: 100%;
    background-color: gray;
    margin:0;
    padding: 0;
}

.calc_background {
    background-color: rgb(106, 106, 206);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.canvas {
    background-color: black;
    margin: auto;
    width: 20%;
    height: 50%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center
}


input[type="button"] {
    width: 24%;
    height: 70px;
    padding: 15px;
    border-radius: 25px;
    font-family: 'digital-clock-font';
    font-style: italic bold;
    font-size: 30px;
}

#prev {
    color: blue;

}

.display {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.display input[type="text"] {
    flex: 100%;
    text-align: right;
    height: 40px;
    border-radius: 0px;
    background-color: white;
    border: none;
    font-size: 13px;
}

#displayed {
    margin-bottom: -10px;
}

#line_one {
    margin-top: 50px;
}

.operator, .equal {
    background-color: rgb(255, 0, 0)
}

.number {
    background-color: grey
}

.ac {
    background-color: rgb(166, 157, 209);
}


